@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

/* MAIN HTML SET UP */
:root {
  --darkGrey: #5d5c61;
  --lightGrey: #379683;
  --lightBlue: #7395ae;
  --darkBlue: #557a95;
  --brown: #b1a296;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #edf0f1;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ---- Header ---- */
header {
  display: flex;
}

header h1 {
  color: var(--darkGrey);
  position: relative;
  top: 43%;
  left: 10vw;
  font-size: 3.5rem;
}

header h1 a {
  color: var(--darkBlue);
}

/* ---- NAV BAR ---- */
.bg-img {
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  width: auto;
}

.topnav {
  position: absolute;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.topnav .img_Links {
  width: 20%;
  background-color: red;
}

.topnav .social_Links {
  width: 20%;
  background-color: red;
}

.topnav .nav_Links {
  width: 40%;
}

.topnav .nav_Links li {
  list-style-type: none;
  display: inline-block;
}

.topnav a {
  float: left;
  color: var(--darkGrey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease 0s;
}

.topnav a:hover {
  color: var(--darkBlue);
}

.img_Links img {
  max-width: 15rem;
}

/* ---- SIDE NAV ---- */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidenav a {
  padding: 1rem;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
